

# Directories
Packages/**
types
lints
tests/lsp/**
tests/selene/**
png/**
out/**

# Files
sourcemap.json
wally.lock
package-lock.json
keys.txt

# File types
*.lock
*.gitconfig
*.rbxl
*.rbxlx
*.lock
scripts/auth.txt
